body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

.leaflet-container .leaflet-control-mouseposition {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 0 5px;
	margin:0;
	color: #333;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.upload-preview {
	padding : 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #6c6b6b;
      -moz-box-shadow: 5px 5px 5px #6c6b6b;
      -webkit-box-shadow: 5px 5px 5px #6c6b6b;
	border-radius:20px; }
	
a.prfgor:link {
	color:#000000;
	text-decoration:none;
	}
a.prfgor:visited {
	color:#979797;
	}
a.prfgor:hover {
	font-size:100%;
	color:#43655A;
	font-weight:normal;
	}		